<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders a form where users can add a new artist to the database-->
{% extends "base.html" %}  
{% block main_content %}
<section>
<h2>Add an artist with their rating:</h2>
<form method="POST" action="{{ url_for('contribution_type', type='artist') }}">
    <label>Name: <input type="text" name="name" required></label>
    <label>Genre:
        <select name="genre">
          <option value="">choose one</option>
          {% for g in genres %}
              <option value="{{g}}">{{g}}</option>
          {% endfor %}
        </select>
    </label>
    <label>Rating (min = 0, max = 10): <input type="number" name="rating" value="0" min="0" max="10"></label>
    <button type="submit">Add Artist</button>
</form>
</section>

{% endblock %}