<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders a page that allows users enter new artist information into the database->
{% extends "base.html" %}  

{% block main_content %}
<form method="POST" action="{{ url_for('contribution_type', type='artist') }}">
    <label>Name: <input type="text" name="name" required></label>
    <label>Genre:
        <select name="genre">
          <option value="">choose one</option>
          {% for g in genres %}
              <option value="{{g}}">{{g}}</option>
          {% endfor %}
        </select>
    </label>
    <label>Rating: <input type="number" name="rating" value="0"></label>
    <button type="submit">Add Artist</button>
</form>
{% endblock %}