<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders an album page detailing information on the approved album -->
{% extends "base.html" %}

{% block main_content %}

<h1 style = "text-align: center;">Album Title: {{ album['title'] }}</h1>
<section>
<p><strong>Artist:</strong> 
    <a href="{{ url_for('artist', id=artist['artistID']) }}">{{ artist['name'] }}</a>
</p>
<p><strong>Release Date:</strong> {{ album['release'] }}</p>
</section>

<button type="submit"><a href="{{ url_for('contribution_type', type='music') }}">Add Another Album</a></button>
<br>
<button type="submit"><a href="{{ url_for('index') }}">Back to Home</a></button>
{% endblock %}
