<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders an artist page that contains their ranting and beefs-->

{% extends "base.html" %}
{% block main_content %}




{% for person in artist %}
<h2>{{ person.name }} </h2>

<p>{{ person.name }} is a {{ person.genre }} artist with a current rating of {{ person.rating }} out of 10.</p>

{% if photo %} <div class="artist-photo"> 
<img src="{{ url_for('static', filename='uploads/artists/' ~ photo) }}" alt="{{ artist[0].name }}" width="100" height="100" style="border-radius: 50%; object-fit: cover;"> 
</div> 
{% else %} <a href="{{ url_for('upload_artist_photo') }}">Upload a photo</a> {% endif %}

<form method="POST" action="{{ url_for('artist', id=person.artistID) }}">
    <label>Rate this artist: 
        <input type="number" name="rating" value="1" min="1" max="10">
    </label>
    <button type="submit" name="submit" value="rate">Rate</button>
</form>


<!-- <form method="POST">
    <input type="radio" id="1" name="rating" value="1">
    <label for="1">1</label><br>
    <input type="radio" id="2" name="rating" value="2">
    <label for="2">2</label><br>
    <input type="radio" id="3" name="rating" value="3">
    <label for="3">3</label><br>
    <input type="radio" id="4" name="rating" value="4">
    <label for="4">4</label><br>
    <input type="radio" id="5" name="rating" value="5">
    <label for="5">5</label><br>
    <input type="radio" id="6" name="rating" value="6">
    <label for="6">6</label><br>
    <input type="radio" id="7" name="rating" value="7">
    <label for="7">7</label><br>
    <input type="radio" id="8" name="rating" value="8">
    <label for="8">8</label><br>
    <input type="radio" id="9" name="rating" value="9">
    <label for="9">9</label><br>
    <input type="radio" id="10" name="rating" value="10">
    <label for="10">10</label><br>
    <input type="submit" name="submit" value="rate">
</form> -->


<p>Artists {{person.name}} has had beef with:</p>
{% for beef in beefs %}
<ul>
    <li><a href="{{ url_for('beef_page', bid=beef.beefID) }}">{{beef.name}}</a></li> <!--Later add the beef pages to here as href-->
</ul>

{% endfor %}
{% endfor %}


{% endblock %}