<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders an artist page that contains their ranting and beefs-->

{% extends "base.html" %}
{% block main_content %}


{% for person in artist %}
<h2 style="text-align: center;">{{ person.name }} </h2>
<section>
<p>{{ person.name }} is a {{ person.genre }} artist with a current rating of {{ person.rating }} out of 10.</p>

{% if photo %} <div class="artist-photo"> 
<img src="{{ url_for('static', filename='uploads/artists/' ~ photo) }}" alt="{{ artist[0].name }}" width="100" height="100" style="border-radius: 50%; object-fit: cover;"> 
</div> 
{% else %} <a href="{{ url_for('upload_artist_photo') }}">Upload a photo</a> {% endif %}

<form method="POST" action="{{ url_for('artist', id=person.artistID) }}">
    <label>Rate this artist: 
        <input type="number" name="rating" value="1" min="1" max="10">
    </label>
    <button type="submit" name="submit" value="rate">Rate</button>
</form>
</section>

<section>
    {% if beefs %}
        <p>Artists {{ person.name }} has had beef with:</p>
        <ul>
        {% for beef in beefs %}
            <li><a href="{{ url_for('beef_page', bid=beef.beefID) }}">{{ beef.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{{ person.name }} doesn’t have any beefs.</p>
    {% endif %}
</section>
{% endfor %} 
{% endblock %}