<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
{% extends "base.html" %}

{% block main_content %}

<h1>Submit a Music Beef</h1>

<p>
    Tell us about a legendary feud in music — or one you’ve just discovered!
    Who’s beefing, why, and whose side are you on?
</p>

<section>
    <h2>Beef Submission Form</h2>

    <form id="beef-form" method="post" action="{{ url_for('insertbeef') }}">

        <label for="artist1">Artist 1:</label>
        <select id="artist1" name="artist1">
            <option value="none">Choose One</option>
            {% for a in artists %}
                <option value="{{ a.artistID }}">{{ a.name }}</option>
            {% endfor %}
        </select>

        <label for="artist2">Artist 2:</label>
        <select id="artist2" name="artist2">
            <option value="none">Choose One</option>
            {% for a in artists %}
                <option value="{{ a.artistID }}">{{ a.name }}</option>
            {% endfor %}
        </select>

        <label for="reason">What’s the beef about?</label>
        <textarea id="reason" name="reason" placeholder="Explain what caused the feud..." required></textarea>

        <label for="side">Whose Side Are You On?</label>
        <select id="side" name="side">
            <option value="artist1">Artist 1</option>
            <option value="artist2">Artist 2</option>
        </select>

        <button type="submit">Submit Beef</button>
    </form>
</section>

{% endblock %}
