<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders a page that has information on a given beef -->
{% extends "base.html" %}

{% block main_content %}

<h1>Music Beef: {{ artist1.name }} vs {{ artist2.name }}</h1>
<section>

<p><strong>Reason for the beef:</strong> {{ beef.context }}</p>

<h3>Votes</h3>
<p>{{ artist1.name }}: {{ counts.artist1_votes or 0 }} votes</p>
<form method="POST" action="{{ url_for('vote', bid=beef.bid, artist_id=beef.artist1) }}">
    <button type="submit">Vote for {{ artist1.name }}</button>
</form>

<p>{{ artist2.name }}: {{ counts.artist2_votes or 0 }} votes</p>
<form method="POST" action="{{ url_for('vote', bid=beef.bid, artist_id=beef.artist2) }}">
    <button type="submit">Vote for {{ artist2.name }}</button>
</form>

</section>
<button><a href="{{ url_for('forums_type', type = 'beef') }}">Back to Forums</a></button>

{% endblock %}
