<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders a page that allows people to discover beef between artists-->
{% extends "base.html" %}
{% block main_content %}    

<h1>Discover Beefs</h1>
<section>

<form method="POST" action="">
<div class="form-row">
  <label for="artist">Artist involved:</label>
  <select id="artist" name="artist" required>
    <option value="" disabled selected>choose one:</option>
    {% for a in artists %}
      <option value="{{a.artistID}}">{{ a.name }}</option>
    {% endfor %}
  </select>
</div>

  
<div class="form-row submit-row">
  <input type="submit" value="Find Beefs">
</div>
</form>

</section>

{% endblock %}     