<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders a page that allows users to navigate to their prefered type to discover-->
{% extends "base.html" %}
{% block main_content %}


<header style="text-align: center; margin-top: 2rem;">
<h1>DISCOVER 🎧</h1>
<p style="color: var(--purple-dark); font-weight: 500;"></p>
</header>


<section class="section" style="text-align: center;">
    <h2>What do you want to discover?</h2>
    <form method="GET" action="{{ url_for('discover_home') }}" style="margin-top: 1.5rem;">
    <div class="form-row">
        <label for="kind">Kind:</label>
        <select id="kind" name="kind" required>
            <option value="">choose one</option>
            <option value="artist">artist</option>
            <option value="album">album</option>
            <option value="beef">beef</option>
        </select>
    </div>
    </label>

    <input type="submit" value="Continue" style="margin-top: 1.5rem;">
    </form>

</section>


{% endblock %}  


