<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders a page that allows users to navigate to their prefered type of forum->
 
{% extends "base.html" %}
{% block main_content %}


<header>
<h1>Forums 💬</h1>
</header>


<section>
    <h2>What do you want to discuss?</h2>
    <form method="GET" action="/forums/">
    <label>Type:
        <select required name="type">
        <option value="">choose one</option>
        <option value="music">music</option>
        <option value="explore">explore</option>
        <option value="beef">beef</option>
        </select>
    </label>

    <input type="submit" value="Continue">
    </form>

</section>


{% endblock %}  