<!-- Ashley Yang, Dana Hammouri, Megan O'Leary, Emma Culley -->
<!-- Music Fansite-->
<!-- Renders a page where users can create/explore forums focused on beefs-->
{% extends "base.html" %}
{% block main_content %}

<h1>Explore Forums</h1>

<section>
    <h2>Current Discussions</h2>

    <h1>All Beefs</h1>

    <ul>
    {% for beef in beefs %}
    <li>
        <a href="{{ url_for('beef_page', bid=beef['bid']) }}">
            {{ beef['artist1_name'] }} vs {{ beef['artist2_name'] }}
        </a>
    </li>
    {% endfor %}
</ul>

</section>

<hr>

<section>
    <h2>Can't find a beef?</h2>
    <p >Add it <a href = "{{ url_for('contribution_type', type = 'beef') }}">here!</a></p>
    
</section>

{% endblock %}
