<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

        .section {
            margin-bottom: 2rem;
            padding: 1.5rem;
            background: #f4f4f4;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>

            <li><a href ="{{url_for('discover_home')}}">Discover</a></li>
            <li><a href = "{{url_for('###')}}">Forums</a></li>
            <li><a href = "{{ url_for('login')}}">Log in</a></li>
            <li><a href = "{{ url_for('signup')}}">Sign Up</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to Our Music Website!</h1>
        <p></p>
        <div class="section">
            <h2>About Us</h2>
            <p>We are developing an interactive music database that goes beyond traditional music 
                catalogs by capturing the dynamic relationships and rivalries within the music industry. 
                Our platform combines comprehensive artist information with social engagement features, 
                allowing users to explore not only the music itself but also the compelling narratives between artists.</p>
        </div>

        <div class="section">
            <h2>Get Started</h2>
            <p>Create an account if you have not already.</p>
            <a href="{{ url_for('signup') }}">
            <button type="button">Sign Up</button>
            </a>
            <p>Unravel the drama of the music world and discover new artists!</p>
            <a href="{{ url_for('discover_home') }}">
            <button type="button">Discover</button>
            </a>
            <a href="{{ url_for('insertbeef') }}">
            <button type="button">Got Beef?</button>
            </a>
        </div>
    </main>
</body>
</html>